<div class="recipe card">
  <h4 class="card-header header">{{recipe.title}}</h4>
  <img class="img-fluid rounded mx-auto"
    src="{{this.recipe.cover_photo ? this.recipe.cover_photo:'/assets/default.jpeg'}}" alt="Banana Bread">
  <div class="card-body">
    <p>{{recipe.description}}</p>
    <div class="p-3">
      <span class="font-weight-bold">
        Preparation Time: </span>{{recipe.preparation_time}}
      <div>
        <span class="font-weight-bold">Serving: </span>{{recipe.feed_this_many}}
      </div>
    </div>
  </div>
</div>


